body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b3d9b3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b3d9b3;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    background-color: #008CBA;
    color: #fff;
    padding: 20px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.question {
    margin-bottom: 20px;
    text-align: center;
}

input[type="radio"] {
    margin-right: 5px;
}

.input-section {
    display: none;
}

.result-section {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

button {
    background-color: #00aecd; /* Blue background */
    color: #000000; /* Black color font */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00aecd; /* Darker blue background on hover */
}
